body{
  background-color: blueviolet;
}

h1{
  text-align: center;
  font-size: 75px;
}

table,
tr,
td {
    background-color: green;
    border: 5px solid blue;
    border-radius: 0px;
    padding: 10px;
}

td {
    border-radius: 0px;
    color: red;
    background-color: white;
    font-family: sans-serif;
} 